.wrapper {
width: 1110px;
margin: 0 auto;
}
.page-header {
    background: red;
}
.logotipe {
    float: left;
    margin: 0 auto;
    /* font-family: 'Roboto', sans-serif;
    font-family: 'Open Sans', sans-serif; */
}
.main-menu {
    margin: 0 auto;
}
.main-menu-item {
    list-style: none;
    width: 464px;
}
.main-menu-link {
    float: right;
    text-decoration: none;
}
.main-menu-link:not(:nth-child(5)) {
    margin-right: 34px;
}
.main {
margin: 0 auto;
}
.featured products {
}
h1 {
text-align: center;
margin: 0 auto;
}
h1::after {
content: '';
width: 165px;
height: 7px;
background: #1abc9c;
display: block;
margin: auto;
}
.item {
    width: 255px;
    height: 322px;
    float: left;
    background-color: #e9f0fd;

}
/* .item:not(:nth-child(5n,9n)) {
margin-right: 30px;
}
.item::nth-child(4n) {
margin-bottom: 30px;
} */
.item p {
    margin: 0px;
    font-size: 18px;
    background-color: #323232;
    color: white;
    width: 255px;
    height: 40px;
    text-align: center;
    
}
.item-name span {
    font-size: 18px;
    background-color: #8c8c8c;
    color: white;
    float: right;
    width: 54px;
    height: 40px;
}

.clearfix::after {
    display: table;
    content: "";
    clear: both;
}